{% extends "main.html" %}
{% block content %}
<div class="col-md-12">
	<h2>Add Catalog Item</h2>
</div>

<div class="col-md-12">
	<div class="row text-center">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p class="message">{{message}}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</div>
</div>

<div class="col-md-12">	
	<form method="post" action="{{url_for('addCatalog')}}">
		<div class="form-group">
			<label>Catalog name</label>
			<input type="text" name="catalogname" class="form-control" placeholder="enter catalogname">
		</div>
		<div>
			<input type="submit" name="submit" class="btn btn-primary">
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
		</div>
	</form>
</div>
{%endblock%}

