{% extends "main.html" %}
{% block content %}

<h2>Item Description</h2>
<div class="col-md-12">
	<div class="imagefile">
		<p style="text-align: center;"><img src="{{url_for('static', filename=item.picturename)}}" alt="image" style="height: 150px; width: 300px"></p>
	</div>
</div>
<div class="col-md-12">
	<div class="row itemheader">
		<h3>{{item.itemname.upper()}}</h3>
	</div>
</div>
<div class="col-md-12 form-group">
	<div class="row itemdescription">
		<textarea class="form-control" rows="5" cols="50" name="description" readonly="readonly">{{item.description}}</textarea>
	</div>
</div>
<div>
<form action="post">
	{% if session.get('username') != None %}
	<a class="btn btn-primary" href="{{url_for('editCatalogItem',itemname=item.itemname)}}">Edit</a>
	<a class="btn btn-primary" href="{{url_for('deleteCatalogItem',itemname=item.itemname)}}">Delete</a>
	<a class="btn btn-primary" href="{{url_for('getCatalogItems',catalogname=catalogname,itemname=item.itemname)}}">Return to Previous Page</a>
	{%else%}
	<a class="btn btn-primary" href="{{url_for('editCatalogItem',itemname=item.itemname)}}">Edit</a>
	{%endif%}
	
	
</form>	
</div>

{%endblock%}