{% extends "main.html" %}
{% block content %}

<h4>Item Description</h4>
<div class="col-md-12">
	<textarea class="form-control" rows="5" name="itemdescription">{{item.description}}</textarea><br>
	{% if session.get('username') != None %}
	<a class="btn btn-primary" href="{{url_for('editCatalogItem',itemname=item.itemname)}}">Edit</a>
	<a class="btn btn-primary" href="{{url_for('deleteCatalogItem',itemname=item.itemname)}}">Delete</a>
	<a class="btn btn-primary" href="{{url_for('getCatalogItems',catalogname=catalogname,itemname=item.itemname)}}">Return to Previous</a>
	{%endif%}
</div>

{%endblock%}
