<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<link rel="stylesheet" href="/static/styles.css"/>
    	<!-- <link rel="stylesheet" href="/static/main.css"/> -->
    	<title>FullStack-Catalog</title>
	</head>
	<body>
		<div class="container">
			<div class="col-md-12 login-section">
				{% if session.get('username') == None %}
				<a href="{{url_for('login')}}" class="pull-right">Login</a>
				{%else%}
				<h5 class="pull-right">Welcome {{session.get('username')}}(<a class="logout" href="{{url_for('logout')}}">Logout</a>)</h5><br>
				{%endif%}
			</div>
			<div class="col-md-12">
				<div class="row">
					<a class="pull-right" href="{{url_for('showHomePage')}}">Home</a>
				</div>
			</div>
				{% block content %}
			{% endblock %}
		</div>

	</body>
			<div class="footer">
			<footer class="pull-right">
				<p>Developed by Abhilash M</p>
			</footer>
		</div>
</html>