<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<link rel="stylesheet" href="/static/styles.css"/>
    	<!-- <link rel="stylesheet" href="/static/main.css"/> -->
    	<title>FullStack-Catalog</title>
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>